.idea
.DS_Store
/logs
/data
.env
/.project
/.localstorage
.docker-sync
/jenkins/jenkins_home
/supervisorconf/autostart/*.conf
/apache2/elidev-sites
/apache2/us-sites

/install-instruction
/sshkeys/id_rsa
/sshkeys/id_rsa.pub

/upsource-storage


